<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Software Enginnering Academy of Phnom Penh" />

    <title>SEAP</title>

    <!-- GOOGLE FONTS -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:100,200,400,700,900}" rel="stylesheet" />
    <link th:href="@{https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css}" rel="stylesheet" />


    <!-- PLUGINS CSS STYLE -->
    <link th:href="@{/resources/assets/plugins/nprogress/nprogress.css}" rel="stylesheet" />



    <!-- SLEEK CSS -->
    <link id="sleek-css" rel="stylesheet" th:href="@{/resources/assets/css/sleek.css}" />

    <!-- FAVICON -->
    <link th:href="@{/resources/assets/img/favicon.png}" rel="shortcut icon" />



    <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <script th:src="@{/resources/assets/plugins/nprogress/nprogress.js}"></script>
  </head>

</head>

<body class="" id="body">
  <div class="container d-flex flex-column justify-content-between vh-100">
    <div class="row justify-content-center mt-5">
      <div class="col-xl-5 col-lg-6 col-md-10">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="app-brand">
              <a href="/">
                <img class="w-25" th:src="@{/resources/img/logo/seap_160.png}"
                  alt="Software Engineering Academy of Phnom Penh">
                <span class="brand-name">SEAP Admin</span>
              </a>
            </div>
          </div>
          <div class="card-body p-5">

            <h4 class="text-dark mb-5">Log In</h4>
            <form action="/login">
              <div class="row">
                <div class="form-group col-md-12 mb-4">
                  <input type="email" class="form-control input-lg" id="email" aria-describedby="emailHelp"
                    placeholder="Username">
                </div>
                <div class="form-group col-md-12 ">
                  <input type="password" class="form-control input-lg" id="password" placeholder="Password">
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Log In</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright pl-0">
      <p class="text-center">&copy; 2021 Copyright Software Engineering Academy of Phnom Penh by
        <a class="text-primary" th:href="@{https://www.seap.tech/}" target="_blank">SEAP</a>.
      </p>
    </div>
  </div>

</body>

</html>