<!DOCTYPE html>
<html   lang="en"
        dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Engineering Academy of Phnom Penh">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DevKH</title>

    <!-- GOOGLE FONTS -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:100,200,400,700,900}" rel="stylesheet" />
    <link th:href="@{https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css}" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link th:href="@{/resources/assets/plugins/nprogress/nprogress.css}" rel="stylesheet" />

    <!-- No Extra plugin used -->

    <link th:href="@{/resources/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css}" rel="stylesheet" />

    <link th:href="@{/resources/assets/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet" />

    <link th:href="@{/resources/assets/plugins/toastr/toastr.min.css}" rel="stylesheet" />

    <!-- SLEEK CSS -->
    <link rel="stylesheet" th:href="@{/resources/assets/css/sleek.css}" />

    <!-- FAVICON -->
    <link th:href="@{/resources/assets/img/favicon.png}" rel="shortcut icon" />

    <!--
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:src="@{/resources/assets/plugins/nprogress/nprogress.js}"></script>

</head>


<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="wrapper">

        <!-- START LEFT SIDEBAR -->
        <div th:replace="~{fragments/left-sidebar}"></div>
        <!-- END LEFT SIDEBAR -->

        <div class="page-wrapper">


            <!-- START HEADER -->
            <div th:replace="~{fragments/header}"></div>
            <!-- END HEADER -->



            <div class="content-wrapper">

                <!-- START CONTENT -->
                <div class="content" layout:fragment="content">
                    <!--
                        ====================================
                        ——— RENDER CONTENT
                        ====================================
                    -->
                </div>
                <!-- END CONTENT -->

                <!-- START RIGHT SIDEBAR -->
                <div th:replace="~{fragments/right-sidebar}"></div>
                <!-- END RIGHT SIDEBAR -->

            </div>

            <!-- START FOOTER -->
            <div th:replace="~{fragments/footer}"></div>
            <!-- END FOOTER -->

        </div>
    </div>

    <script th:src="@{/resources/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/slimscrollbar/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/jekyll-search.min.js}"></script>

    <script th:src="@{/resources/assets/plugins/charts/Chart.min.js}"></script>

    <script th:src="@{/resources/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js}"></script>

    <script th:src="@{/resources/assets/plugins/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/daterangepicker/daterangepicker.js}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('input[name="dateRange"]').daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                locale: {
                    cancelLabel: 'Clear'
                }
            })
            jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
                jQuery(this).val(picker.startDate.format('MM/DD/YYYY'))
            })
            jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
                jQuery(this).val('')
            })
        })
    </script>

    <script th:src="@{/resources/assets/plugins/toastr/toastr.min.js}"></script>

    <script th:src="@{/resources/assets/js/sleek.bundle.js}"></script>

    <th:block layout:fragment="scripts">
        <!-- 
            individual page script
         -->
    </th:block>

</body>

</html>