<!DOCTYPE html>
<html   lang="en" dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">

<head>
    <title>Create a new article</title>
    <link th:href="@{/resources/assets/plugins/data-tables/datatables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/resources/assets/plugins/data-tables/responsive.datatables.min.css}" rel="stylesheet">
    <link th:href="@{/resources/assets/plugins/select2/css/select2.min.css}" rel="stylesheet">
</head>

<body>

<div class="content" layout:fragment="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom d-flex justify-content-between">
                    <h2>All Article</h2>
                    <button id="btnAddNewArticle" class="btn btn-outline-primary btn-sm text-uppercase">
                        <i class=" mdi mdi-database-plus mdi-24px mr-1"></i>
                        Add Article
                    </button>
                </div>
                <div class="card-body">
                    <table id="article-responsive-data-table" class="table dt-responsive nowrap" style="width:100%">
                        <thead>
                        <tr>
                            <th class="d-none">ID</th>
                            <th class="d-none">UUID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Author</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Publish</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Load modal -->
    <div th:replace="~{blog/article-modal :: addNewArticleModal}"></div>
</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/resources/assets/plugins/data-tables/jquery.datatables.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/data-tables/datatables.bootstrap4.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/data-tables/datatables.responsive.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/select2/js/select2.min.js}"></script>
    <script th:src="@{/resources/scripts/article-data.js}"></script>
</th:block>

</body>

</html>