<div xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="addNewArticleModal" class="modal fade show" id="addNewArticleModal" tabindex="-1" role="dialog"
         aria-labelledby="addNewArticleModalTitle" aria-modal="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cc">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="inputDomain">Category</label>
                                    <select id="inputDomain" class="form-control input-sm">
                                        <option>DevOps</option>
                                        <option>Docker</option>
                                        <option>Java</option>
                                        <option>Tech</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="inputTitle">Title</label>
                                    <input id="inputTitle" type="text" class="form-control input-sm" placeholder="Enter title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="inputDescription">Description</label>
                                    <input id="inputDescription" type="text" class="form-control input-sm" placeholder="Enter Description of the Article">
<!--                                    <select id="inputSelectCategories" class="form-control input-sm select-categories" name="states[]" multiple="multiple">-->
<!--                                        <option value="AL">Alabama</option>-->
<!--                                        <option value="WY">Wyoming</option>-->
<!--                                        <option value="WY">Messi</option>-->
<!--                                        <option value="WY">Ronaldo</option>-->
<!--                                    </select>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputThumbnail">Thumbnail</label>
                                    <input id="inputThumbnailHidden" type="hidden">
                                    <input type="file" class="form-control-file input-thumbnail" id="inputThumbnail" name="input-thumbnail">
                                </div>
                                <div class="d-inline-block rounded overflow-hidden mb-3">
                                    <img id="thumbnailPreview" class="img-fluid thumbnail-preview"
                                         th:src="@{/resources/img/normal/placeholder.png}"
                                         alt="Thumbnail placeholder">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputImageContent">Image Content</label>
                                    <input id="inputImageContentHidden" type="hidden">
                                    <input id="inputImageContent" type="file" class="form-control-file input-image-content" name="input-image-content">
                                </div>
                                <div class="d-inline-block rounded overflow-hidden mb-3">
                                    <img id="imageContentPreview" class="img-fluid thumbnail-preview"
                                         th:src="@{/resources/img/normal/placeholder.png}"
                                         alt="Image content placeholder">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="inputLayout">Layout</label>
                                    <select class="form-control input-sm" id="inputLayout">
                                        <option>Default Layout</option>
                                        <option>Editor Layout</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="editor1">First Paragraph</label>
                                    <textarea class="form-control rounded-0" id="editor1" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="editor2">Second Paragraph</label>
                                    <textarea class="form-control rounded-0" id="editor2" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="editor3">Third Paragraph</label>
                                    <textarea class="form-control rounded-0" id="editor3" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-pill">Add new</button>
                </div>
            </div>
        </div>
    </div>
</div>