<!DOCTYPE html>
<html   lang="en" dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">

<head>
    <title>Create a new category</title>
    <link th:href="@{/resources/assets/plugins/data-tables/datatables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/resources/assets/plugins/data-tables/responsive.datatables.min.css}" rel="stylesheet">
    <link th:href="@{/resources/assets/plugins/select2/css/select2.min.css}" rel="stylesheet">
</head>

<body>

<div class="content" layout:fragment="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom d-flex justify-content-between">
                    <h2>All Category</h2>
                    <button id="btnAddNew" class="btn btn-outline-primary btn-sm text-uppercase">
                        <i class=" mdi mdi-database-plus mdi-24px mr-1"></i>
                        Add new
                    </button>
                </div>
                <div class="card-body">
                    <table id="category-responsive-data-table" class="table dt-responsive nowrap" style="width:100%">
                        <thead>
                        <tr >
                            <th class="d-none">ID</th>
                            <th class="d-none">UUID</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Load modal -->
    <div th:replace="~{blog/category-modal :: addNewCategoryModal}"></div>
</div>
<div th:fragment="addNewCategoryModal" class="modal fade show" id="addNewCategoryModal" tabindex="-1" role="dialog"
     aria-labelledby="addNewCategoryModalTitle" aria-modal="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cc">Add new Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/blog/category-data}" method="post" th:object="${category}" >
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label for="inputCategory">Category</label>
                                <!--/*@thymesVar id="name" type=""*/-->
                                <input id="inputCategory" type="text"  class="form-control input-sm"
                                       placeholder="Enter Category name" th:value="*{name}">
                                <label for="inputSubject">Description</label>
                                <input id="inputSubject" type="text" class="form-control input-sm"
                                       placeholder="Enter Description" th:value="*{description}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
                <button  type="button" id="btnAddNewCategoryModal" class="btn btn-primary btn-pill">Add new</button>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/resources/assets/plugins/data-tables/jquery.datatables.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/data-tables/datatables.bootstrap4.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/data-tables/datatables.responsive.min.js}"></script>
    <script th:src="@{/resources/assets/plugins/select2/js/select2.min.js}"></script>
    <script th:src="@{/resources/scripts/category-data.js}"></script>
</th:block>

</body>

</html>