<div xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="addNewCategoryModal" class="modal fade show" id="addNewCategoryModal" tabindex="-1" role="dialog"
         aria-labelledby="addNewCategoryModalTitle" aria-modal="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cc">Add new Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  action="#">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="inputCategory">Category</label>

                                    <input id="inputCategory" type="text"  class="form-control input-sm"
                                           placeholder="Enter Category name" >
                                    <label for="inputCategoryDescription">Description</label>
                                    <input id="inputCategoryDescription" type="text" class="form-control input-sm"
                                           placeholder="Enter Description">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
                    <button  type="button" id="btnAddNewCategoryModal" class="btn btn-primary btn-pill" onclick="myfunction()">Add new</button>
                </div>
                <script>
                    function myfunction(){
                        var name = $("#inputCategory").val();
                        var description = $("#inputCategoryDescription").val();
                        var data = {
                            name : $("#inputCategory").val(),
                            description: $("#inputCategoryDescription").val()
                        };
                        console.log(data)
                        $.ajax({
                            url: '/blogs/categories/add',
                            type: "POST",
                            dataType: "json",
                            "contentType": "application/json",
                            success: function(data){
                                console.log(result)
                                $(element).append(result);
                            },
                            data: JSON.stringify(data)
                        })
                        let modalCate = $('#addNewCategoryModal');
                        modalCate.modal('hide');
                    }
                </script>
            </div>
        </div>
    </div>

</div>
