<div xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="addNewSubCategoryModal" class="modal fade show" id="addNewSubCategoryModal" tabindex="-1" role="dialog"
         aria-labelledby="addNewSubCategoryModalTitle" aria-modal="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cc">Add new SubCategory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="inputCategory">SubCategory</label>
                                    <input id="inputCategory" type="text"  class="form-control input-sm"
                                           placeholder="Enter SubCategory name">
                                    <label for="selectCategory">Category</label>
                                    <select id="selectCategory" class="form-control input-sm"  onclick="categories()">
                                    </select>
                                    <label for="inputSubCategoryDescription">Description</label>
                                    <input id="inputSubCategoryDescription" type="text" class="form-control input-sm"
                                           placeholder="Enter Description">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-pill" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-pill">Add new</button>
                </div>
                <script type="text/javascript" th:inline="javascript">
                    function categories(){
                        var select = $('#selectCategory').val();
                        $.ajax({
                            url:'/blogs/subcategories/category',
                            type: 'GET',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log('data:'+data)
                                $('#selectCategory').empty();
                                data.forEach(function (item,i) {
                                    console.log('data in Loop')
                                    var option = "<option value = " + item + ">" + item +  "</option>";
                                    $('#selectCategory').append(option);
                                });
                                return JSON.stringify(data)
                            }
                        })
                        $(document).ready(function() {
                            $("#selectCategory").change(function() {
                                alert($(this).val())
                                $('#selectCategory').val($(this).val())
                            });
                        });
                       }

                </script>
            </div>
        </div>
    </div>

</div>